# 2021 Names

In [1]:
import pandas as pd
import numpy as np
import cleandata as cd

In [2]:
df = pd.read_csv('../data/Gemeinde_Exekutive - daten.csv')

## Clean Data

In [75]:
df = cd.clean(df)

df['Name_cleaned'] =  df['Name_cleaned'].str.strip()

# Lowercase
df['Name_cleaned'] =  df['Name_cleaned'].str.lower()

# Cut Names
df['firstname'] = df['Name_cleaned'].apply(lambda x: x.split(' ')[0])
df['lastname'] = df['Name_cleaned'].apply(lambda x: x.split(' ')[-1])

Jahrgänge nicht zugeordnet: 0
Partei nicht zugeordnet: 9
Keine Jahrgänge: 18

# Vergleich Präsidentinnen und Namen

In [76]:
df[df.Funktion == 'chair'].groupby('Geschlecht').count()

,Gemeinde,Name,Name_cleaned,Jahrgang,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,firstname,lastname
Geschlecht,,,,,,,,,,,,,,
m,133,133,133,131,132,133,4,133,133,133,131,133,133,133
w,29,29,29,28,29,29,1,29,29,29,28,29,29,29

In [77]:
print(df[df.Funktion == 'chair'].groupby('firstname').count().sort_values('Name', ascending=False).reset_index()['firstname'].head(5).tolist())
df[df.Funktion == 'chair'].groupby('firstname').count().sort_values('Name', ascending=False)['Gemeinde'].head(5).sum()

['peter', 'jürg', 'urs', 'martin', 'andreas']

30

Es gibt mehr Präsidenten mit Namen ^ als Präsidentinnen insgesamt

## Top Names

In [78]:
# Männer
df[df.Geschlecht == 'm'].groupby('firstname').count().sort_values('Name', ascending=False).head()

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,lastname
firstname,,,,,,,,,,,,,,
peter,34,34,34,34,34,34,9,1,34,34,34,34,34,34
thomas,28,28,28,27,28,28,1,0,28,28,28,27,28,28
andreas,28,28,28,26,28,28,5,1,28,28,28,26,28,28
markus,25,25,25,25,25,25,3,0,25,25,25,25,25,25
martin,24,24,24,24,24,24,5,0,24,24,24,24,24,24

In [79]:
# Frauen
df[df.Geschlecht == 'w'].groupby('firstname').count().sort_values('Name', ascending=False).head()

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,lastname
firstname,,,,,,,,,,,,,,
barbara,12,12,12,12,12,12,3,0,12,12,12,12,12,12
susanne,11,11,11,11,11,11,0,0,11,11,11,11,11,11
karin,9,9,9,9,9,9,1,0,9,9,9,9,9,9
heidi,7,7,7,7,7,7,0,0,7,7,7,7,7,7
claudia,7,7,7,6,7,7,1,0,7,7,7,6,7,7

## Nachname

In [80]:
df.groupby('lastname').count().sort_values('Name', ascending=False).head()

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,firstname
lastname,,,,,,,,,,,,,,
meier,20,20,20,20,20,20,1,1,20,20,20,20,20,20
huber,14,14,14,14,14,14,2,0,14,14,14,14,14,14
müller,12,12,12,12,12,12,3,0,12,12,12,12,12,12
keller,9,9,9,9,9,9,2,0,9,9,9,9,9,9
schmid,8,8,8,8,8,8,2,0,8,8,8,8,8,8

## Peter Meiers: Achtung, gibt einen peter meier-neves!

In [81]:
df[(df.firstname == 'peter') & (df.lastname == 'meier')]

,Gemeinde,Name,Name_cleaned,Jahrgang,Geschlecht,Partei,Funktion,Hinweis,jahrgang_nicht_zugeordnet,partei_nicht_zugeordnet,Gecheckt 2021,Alter,partei_c,firstname,lastname
249,Neftenbach,"Meier, Peter",peter meier,1961,m,glp,NaN,NaN,False,False,x,60,glp,peter,meier